body {
    font-family: 'Germania One', cursive;
    width: 100%;
    background: url('../img/burger.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

h1 {
    margin: auto 0;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 2%;
    color:white;
}

#avail {
    float: left;
    margin-right: 6%;
    margin-left: 10%;
    color:white;


}

#devoured {
    float: left;
    color:white;

}

li {
    font-size: 20px;
    list-style-type: none;
    color: white;
}


#add {
    clear: both;
    margin-left: 25%;
    color:white;
}